@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;